__pycache__/DPAA_BF.cpython-312.pyc
__pycache__/DPAA_FF.cpython-312.pyc
__pycache__/DPAA_WF.cpython-312.pyc
__pycache__/Simple_BF.cpython-312.pyc
__pycache__/Simple_FF.cpython-312.pyc
__pycache__/Simple_WF.cpython-312.pyc
